openapi: 3.1.0
info:
  title: USAspending.gov API (CFO Council context) Agencies Search API
  description: 'The Chief Financial Officers Council itself does not operate a developer API. This

    best-effort OpenAPI documents a subset of the USAspending.gov v2 API operated by the

    U.S. Department of the Treasury, which is the primary federal financial-management

    data API closely associated with the CFOC remit. Source: https://api.usaspending.gov/docs/endpoints.'
  version: '2026-05-23'
  contact:
    name: USAspending.gov
    url: https://api.usaspending.gov/docs/endpoints
  license:
    name: Public Domain (U.S. Government Work)
servers:
- url: https://api.usaspending.gov
  description: Production
tags:
- name: Search
paths:
  /api/v2/search/spending_by_award/:
    post:
      tags:
      - Search
      summary: Search spending by award (filtered)
      operationId: searchSpendingByAward
      responses:
        '200':
          description: Award-level spending results
  /api/v2/search/spending_by_category/{category}/:
    parameters:
    - name: category
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Search
      summary: Spending broken down by category
      operationId: searchSpendingByCategory
      responses:
        '200':
          description: Categorized spending results
  /api/v2/search/spending_over_time/:
    post:
      tags:
      - Search
      summary: Spending over time
      operationId: searchSpendingOverTime
      responses:
        '200':
          description: Time-series spending
