openapi: 3.1.0
info:
  title: USAspending.gov API (CFO Council context) Agencies Awards API
  description: 'The Chief Financial Officers Council itself does not operate a developer API. This

    best-effort OpenAPI documents a subset of the USAspending.gov v2 API operated by the

    U.S. Department of the Treasury, which is the primary federal financial-management

    data API closely associated with the CFOC remit. Source: https://api.usaspending.gov/docs/endpoints.'
  version: '2026-05-23'
  contact:
    name: USAspending.gov
    url: https://api.usaspending.gov/docs/endpoints
  license:
    name: Public Domain (U.S. Government Work)
servers:
- url: https://api.usaspending.gov
  description: Production
tags:
- name: Awards
paths:
  /api/v2/agency/{TOPTIER_AGENCY_CODE}/awards/:
    parameters:
    - $ref: '#/components/parameters/ToptierAgencyCode'
    get:
      tags:
      - Awards
      summary: Agency award summaries
      operationId: getAgencyAwards
      responses:
        '200':
          description: Award summaries for the agency
  /api/v2/awards/{AWARD_ID}/:
    parameters:
    - name: AWARD_ID
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Awards
      summary: Get award details
      operationId: getAward
      responses:
        '200':
          description: Award details
  /api/v2/awards/accounts/:
    post:
      tags:
      - Awards
      summary: List federal accounts for an award
      operationId: listAwardAccounts
      responses:
        '200':
          description: Federal accounts
components:
  parameters:
    ToptierAgencyCode:
      name: TOPTIER_AGENCY_CODE
      in: path
      required: true
      description: Top-tier (3-digit Treasury Account Symbol) agency code
      schema:
        type: string
